* {
    box-sizing: border-box;
}

body {
    background: #EFEFEF;
    font-family: 'adobe clean';
    margin: 0;
}
h2 {
  margin-top: 20px;
}

.featured-kittens {
    border: 1px lightgray solid;
}

.featured-kittens > div {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 2fr;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    justify-items: stretch;
    align-items: stretch;
}

.featured-kittens img {
    object-fit: cover;
    width: 98%;
    height: 98%;
}
